.site-header{
  background-color: white;
}
.sitenav-list {
  list-style-type: none;
  text-decoration: none;
color: #252420;

}
.site-nav{
font-size: 16px;
line-height: 1px;
list-style-type: none;
text-decoration: none;
color: #252420;
}

.sitenav-link {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-decoration: none ;
  text-transform: uppercase;
  color: black;
}
.main-button{
  font-size: 13px;
  line-height: 15px;
  color: white;
  background-color:#ff7500 ;
  text-decoration: none;
}
.hero-section{
  background-color: #252420;
  color:white
  ;
}
.hero-content{
  width: 390px;

}
.hero-heading{
  font-style: bold;
  font-size: 40px;
  line-height: 40px;
  line-height: 1.2;
  align-items: left;
  vertical-align: top;
  letter-spacing: 0.5px;
}
.hero-text{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5 ;
}
.orange-line{
width: 80px;
height: 3px;
background-color: #ff7500;
}

.hero-img{
width: 510px;
height: 510px;

}
.features-heading{
  width: 440px;
  font-size: 72px;
  letter-spacing: 0.5px;
}
.feature-icon-wrapper{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}
.feature-tittle{
  font-size: 24px;
  line-height: 1.2;
  letter-spacing:0.5px ;
}
.feature-info{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.5px;
}
.feature{
  width: 340px;

}
.promo{
  background-color: black;
  color:white;
}
.promo-content{
  width: 440px;
}
.promo-heading{
  font-size: 40px;
  line-height:48px;

}
.promo-text{
  font-size: 16px;
  height: 1.5;
}
.promo-highlight{
  color: #ff7500;
}
.promo-img{
  width: 440px;
  height: 440px;
  object-fit: cover;
}
.site-footer{
  background-color: #F8F8F8 ;
}
.site-footer ul {
  list-style: none;
}
.site-footer-divider {
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
  
}
.footer-list{
  list-style-type: none;
  width: 224px;
}
.footer-list-item {
  font-size: 16px;
  line-height: 1px;
  list-style-type: none;
  text-decoration: none;
  color: #252420;
}